html{
    scrollbar-width: normal;
    scrollbar-color: rgb(84, 31, 133) rgb(23, 7, 37);
    height: 100%;
    display: table;
    margin: auto;
}


.covered-by-your-grace-regular {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
  }

body{
background-image: url(AAA/Forest.png);
background-blend-mode: overlay;
background-color: rgb(38, 12, 63);
margin: 0px;
padding: 0px;
height: 100%;
display: table-cell;
vertical-align: top, middle;


}

.Pixey{
    vertical-align: top;
    padding: 0;
    margin: 0;


}

.Top-part{ 
    height: 108px; 
    max-height: 108px;
    margin-top: 0px; 
    transform: translateY(0px); 
    left: 0px; 
    right: 0px;
    background-color: rgb(38, 12, 63);
    z-index: 1000;
    padding: 0;
    margin: 0;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.5);
    padding-left: 574px;
    padding-right: 574px;
    margin-top: -20px;
    margin-bottom: -18px;
}

.header-name{
    margin: 0;
    margin-top: -20px;
    margin-bottom: -18px;
    font-family: "Covered By Your Grace", cursive;
    font-style: normal;
    color: white;
    font-size: 30px;
    font-weight: 500px;
    text-align: center;
    width: 200px;
    padding-top: 40px;
}

.img-holder{
    position: relative;
    margin: auto;
    padding-top: 132px;
    padding-bottom: 187px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  

}

.display-img{
    display: block;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 57px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.tweet-button {
    display: block;
    margin: auto;
    background-color: rgb(124, 51, 192);
    color: white;
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-size: 30px;
    border: none;
    height: 68px;
    width: 170px;
    border-radius: 30px;
    cursor: pointer;
    transition: box-shadow 0.18s, opacity 0.18s;
}

.tweet-button:hover{
    box-shadow: 0 0px 34px rgba(194, 103, 255, 0.856);
}

.tweet-button:active{
    opacity: 0.7;
}

.informant-ep{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-family: "Roboto", cursive;
    font-weight: 400;
    font-size: 20px;
}
